*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

.pageContainer{
  width: 100%;
  height: 100vh;
}
.homeContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMain{
  width: 500px;
  height: 400px;
  display: flex;
}

.function{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-left: 50px;
}
.title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgb(108, 166, 21);
}
.function > button{
  padding: 7px 13px;
  border: 3px solid rgb(108, 166, 21);
  border-radius: 7px;
  font-size: 15px;
  color: rgb(108, 166, 21) ;
}

.header{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ccc;
  background-color: #f2f2f2;
 padding-bottom: 5px;
}

.logo{
  height: 95%;
  float: left;
  
}
.logo >img{
  max-height: 100%;
}
.cameraIcon{
  color: black;
  font-size: 50px;
  float: right;
  margin-right: 40px;
  line-height: 80px;
}


.postsContainer{
  margin: 30px auto;
  padding-bottom: 30px;
  
}

.postCard{
  margin: 20px auto;
  width: 350px;
  height: fit-content;
  border: 1px solid #ccc;
  box-shadow: 2px 3px 3px black;
  border-radius: 5px;
}
.postHeader{
  height: 48px;
  width: 100%;
  padding: 5px;

}
.postHeader .info{
  float: left;
  margin-left: 10px;
}

.name{
  font-size: 15px;
  font-weight: bold;

}

.location{
  font-size: 12px;
  color: gray;
}
.threeIcon{
  height: 100%;
  float: right;
  margin-right: 20px;
  line-height: 40px;
  cursor: pointer;
}
.threeIcon:hover{
  font-size: 20px;
  cursor: pointer;
}

.section{
  max-width: 100%;
  max-height: 300px;
}
.section>img{
  width: 100%;
  height: 100%;
  max-height: 300px;
}
.footer{
  padding: 5px;
}
.review{
  width: 100%;
  height: 30px;
  
}
.likeBut{
  height: 100%;
  float: left;
  width: 20px;
  margin-left: 5px;
  line-height: 30px;
  font-size: 20px;
}
.likeBut:hover{
  font-size: 25px;
  line-height: 30px;
}
.rocketBut{
  height: 100%;
  float: left;
  margin-left: 15px;
  line-height: 30px;
  font-size: 20px;
}
.rocketBut:hover{
  
  font-size: 25px;
  line-height: 30px;
}

.date{
  float: right;
  margin-right: 10px;
  color: gray;
}
.likes{
  margin-left: 5px;
  font-size: 12px;
  color: gray;
}
.quote{
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}
